Body {
	background-color: #151414;
	background-size:contain;
}

.atas {
	height: 30px;
	background-color: #470001;
}

.navigasi ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	font-family: arial, helvatica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	cursor:alias;
}



.navigasi li
{
	float:right;
}
 .navigasi li a
{
	display: block;
	color: white;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
}

.navigasi li a:hover
{
	background-color:#FF0004;
	transition: 1.5s;
	color: #580000;
}

.isi {
	max-width: 1400px;
	margin:auto;
	padding: 0,5px;
	overflow: hidden;
		text-align: center;
		background-color: #151414;
	
}

.isi img {
	width: 700px
}@charset "utf-8";
/* CSS Document */

